## 2단원 실습
날  짜 : 2025.09.10.수요일 (2주차 실습) <br>
작성자 : 문효원 <br>
학  번 : 202311398 <br>
*****

### 기본 입출력
> 1. print() 함수

In [1]:
print(10 + 20)

30

In [2]:
print("동양 미래 대학교")

동양 미래 대학교

In [5]:
print("abc " * 3)

abc abc abc

In [6]:
x = 25
y = 32
z = x + y
print(x, y)
print(x, '+', y, '=', z)

25 32
25 + 32 = 57

> * print() 함수 - `서식 지정`

In [8]:
n = 10
print("n = %d" % n)

m = 5.2
print("m = %.1f, n = %d" % (m, n))

n = 10
m = 5.2, n = 10

> 2. input() 함수

In [13]:
n = input('type a number : ')
print(n)

n = int(n)
print(n)

n = float(n)
print(n)

n = str(3)
print(n)

3
3
3.0
3

> * 입출력 함수의 사용 예

In [1]:
name = input('Name : ')
print("Hello, "+ name)

Hello, 문효원

In [2]:
a = int(input('Number 1: '))
b = int(input('Number 2: '))
print(a * b)

6

In [4]:
C = float(input("Type 섭씨온도 : "))
F = C*9/5 + 32 #온도 변환
print("화씨온도는", F)

화씨온도는 78.8

### 기본 자료형
> 1. 부울형(Boolean)

In [6]:
aVar = True
bVar = False
print(type(aVar))
print(type(bVar))

<class 'bool'>
<class 'bool'>

In [7]:
a = 1
b = 2
c = a > b
print(c)

d = a < b
print(d)

False
True

> 2. 정수형(integer)

In [8]:
intVar = 5
print(type(intVar))

<class 'int'>

<여러 가지 정수 표현> <br>
1, 23, 3493&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:green"># 10진수</span> <br>
<span style="color:red">**0b**</span>010101, 0b110010 &nbsp;&nbsp;<span style="color:green"># 2진수</span> <br>
<span style="color:red">**0o**</span>1, 0o27, 0o6645 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:green"># 8진수</span> <br>
<span style="color:red">**0x**</span>1, 0x17, 0xDA5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:green"># 16진수</span>

> 3. 실수형(float)

In [9]:
fVar = 1.0
print(type(fVar))

<class 'float'>

<여러 가지 실수 표현> <br>
0., 0.0, .0, 1., 1.0, 1e0, 1.e0, 1.0e2

> 4. 문자열(string)

In [12]:
strVar = "test"
print(type(strVar))

<class 'str'>

### 연산자

> 1. 지정 연산자 ; 할당 연산자 (=)

In [14]:
i = 3
print(i)
i = i + 2
print(i)

3
5

> 2. 산술 연산자 (+, -, *, /, //, %)

In [15]:
a = 10
b = 3
c = a % b
d = a // b
e = a / b

print(a)
print(b)
print(c)
print(d)
print(e)

10
3
1
3
3.3333333333333335

> 3. 관계 연산자 (<, <=, >, >=, ==, !=)

In [16]:
score = 95
print(score >= 90)
print(score < 80)
print(score == 90)
print(score != 80)

True
False
False
True

> 4. 논리 연산자 (and, or, not)

In [17]:
exam = 85
report = 85
print(exam >= 80 and report >= 80)
print(exam >= 90 or report >= 90)
print(not(exam < 90))

True
False
False

> 5. 멤버 연산자 (in, not in)

In [18]:
print('py' in 'python')

True

In [19]:
print('ty' not in 'python')

True

> 6. 식별 연산자 (is, is not)

In [21]:
a = 2
b = 2
print(id(a))
print(id(b))

print(id(a) == id(b))
print(a is b)
print(a is not b)

140703703855944
140703703855944
True
True
False